/*
Theme Name: Weiterbildungsmesse Baden (Git - Deploy with WP Pusher)
Theme URI: http://bnbaden.ch/
Template: attend-wp
Author: Christian Zumbrunnen
Author URI: http://homepage-abc.ch/
Description: This is a custom child theme for Berufs- &amp; Weiterbildungsmesse Baden based on Conference &amp; Event WordPress Theme - Attend by cr3ativ.com
Version: 0.2.1465762586
Updated: 2016-06-12 22:16:26

*/

h1.title {
    text-transform: none;
    color: #4d515c !important;
}
.top_logo img {
    max-height: 90px;
}
.session_index_date {
    background-color: #4a7cb8;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 1em;
}
div.highlight {
    border-bottom: 1px solid #e1e3e7;
    border: none;
    border-top: 1px solid #e1e3e7;
}
.cr3ativconference_speaker_wrapper {
    height: 323px;
}
.top_logo h1.site-title {
    display: none !important;
}
.main_content h2 a {
    color: #4d515c !important;
}
.conference_date {
    color: #fff;
}
