    /*
    Theme Name: bnbaden.ch - Berufs- & Weiterbildungsmesse Baden
    Theme URI: http://bnbaden.ch/
    Description: This is a custom child theme for Berufs- & Weiterbildungsmesse Baden based on Conference & Event WordPress Theme - Attend by cr3ativ.com
    Author: Christian Zumbrunnen
    Author URI: http://homepage-abc.ch/
    Template: attend-wp
    Version: 0.1
    */

    @import url("../attend-wp/style.css");

.top_logo img {
    max-height: 30px;
    width: auto;
    }
